footer{
    padding: 40px;
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: #1d2327;
    a{
        text-decoration: none;
        font-weight: bold;
        color: #ffcb05;
    }
}