{% spaceless %}
{% extends "../layouts/base.twig" %}
{% block assets %}
    <link rel="stylesheet" href="./assets/css/app.css">
    <link rel="stylesheet" href="./assets/css/components/pokedex.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./assets/js/rur.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./assets/js/components/pokedex.js"></script>
{% endblock %}
{% block body %}
    <section id="poxedex" data-el="pokedex">
        <div class="container">
            <pokedex/>
        </div>
    </section>
{% endblock %}
{% endspaceless %}